### Run primers designed by Ross with BLAST to find spurious matches and for general sanity check

In [13]:
import os
import pandas as pd

In [ ]:
os.chdir("/cluster/db/mecoulter/Ross/")

* The script we are running is this one (see below). This predicts possible products from primer blast results I made changes so that BLAST is run within the script. Lets see if it works (I include the text of the script just for reference)

In [17]:
!cat predict_products.py

import sys
import subprocess


input_fasta = sys.argv[1]
genome = sys.argv[2]
outputfile = sys.argv[3]

#Parameters
maxproductsize = 4000
max_mismatches = 3
min_percentid = 90

#header_outfmt10 = ["name", "chromosome", "percent id", "match_length", "mismatches", "gap_openings", "Query start","Query end", "subject_start", "subject_end", "evalue","bitscore"]
class Blast10:#Different versions of blast produce different fields with outfmt10. So check
	def __init__(self,line):
		fields = line.rstrip().split(",")
		self.name = fields[0]
		self.chromosome = fields[1]
		self.percent_id = float(fields[2])
		self.match_length = int(fields[3])#Excluding gaps
		self.mismatches = int(fields[4])
		self.gap_openings = int(fields[5])
		self.query_start = int(fields[6])
		self.query_end = int(fields[7])
		self.subject_start = int(fields[8])
		self.subject_end = int(fields[9])
		self.evalue = float(fields[10])
		self.bitscore = float(fields[11])
		if self.subject_start < self.subject_end:
			self.matchtype = "+"
		else:
			self.matchtype = "-"


#First get lengths of primer sequences
length_dict = {}
for line in open(input_fasta):
	line = line.rstrip()
	#print(line)
	if line.startswith(">"):
		primer = line.replace(">","")
	else:
		length_dict[primer] = len(line)

#Get genome name

genome_name = genome.split("/")[-1].split(".")[0]
fasta_name = input_fasta.split("/")[-1].split(".")[0]
print(f"Working on genome {genome_name}")

#Run Blastn
try:
	subprocess.run(f"blastn -task blastn-short -query {input_fasta}  -db {genome} -outfmt 10 -out {fasta_name}_{genome_name}_blast.csv", shell=True, check=True)
except:
	subprocess.run(f"makeblastdb -in {genome} -dbtype nucl", shell=True, check=True)
	subprocess.run(f"blastn -task blastn-short -query {input_fasta}  -db {genome} -outfmt 10 -out {fasta_name}_{genome_name}_blast.csv", shell=True, check=True)





primer_matchesF = {}

primer_matchesR = {}

for line in open(f"{fasta_name}_{genome_name}_blast.csv"):
	blast = Blast10(line)
	if blast.name.endswith("F"):
		primer_matchesF.setdefault(blast.name,[]).append(blast)
	elif blast.name.endswith("R"):
		primer_matchesR.setdefault(blast.name,[]).append(blast)
	else:
		"Primer name error!"
		sys.exit()

#Go through each primer pair, filter out primers that don't have good hits and find products
#out.write(f"{primer_number}\t{matchF.chromosome}\t{productsize}\t{start}\t{end}\t{matchF.percent_id}\t{matchF.match_length}\t{matchF.alignment_length}\t{matchR.percent_id}\t{matchR.match_length}\t{matchR.alignment_length}\n")
with open(outputfile, "w") as out:
	out.write("Primer name\tchromosome\tProduct size\tStart\tEnd\tF percent id\tF match length\t F query length\tR percent id\tR match length\t R query length\n")
	for primerF, matchesF in primer_matchesF.items():
		primerR = primerF.replace("F","R")
		primer_number = primerF.replace("F","")
		matchesR = primer_matchesR[primerR]
		#Filter matches
		possible_matchesF = [matchF for matchF in matchesF if matchF.percent_id >= min_percentid and matchF.match_length >= length_dict[primerF] - max_mismatches]
		possible_matchesR = [matchR for matchR in matchesR if matchR.percent_id >= min_percentid and matchR.match_length >= length_dict[primerF] - max_mismatches]
		for matchF in possible_matchesF:
			for matchR in possible_matchesR:
				if matchF.chromosome == matchR.chromosome and matchF.matchtype != matchR.matchtype:
					if matchF.matchtype == "+":
						productsize = matchR.subject_end - matchF.subject_start
						start = matchF.subject_start
						end = matchR.subject_end
					else:
						productsize = matchF.subject_end - matchR.subject_start
						start = matchR.subject_start
						end = matchF.subject_end
					if productsize <= maxproductsize and productsize > 40:
						out.write(f"{primer_number}\t{matchF.chromosome}\t{productsize}\t{start}\t{end}\t{matchF.percent_id}\t{matchF.match_length}\t{(matchF.query_end - matchF.query_start) + 1}\t{matchR.percent_id}\t{matchR.match_length}\t{(matchR.query_end - matchR.query_start) + 1}\n")

print("Script finished!")

* I had to make several changes to the above as blast in jupyter is different to my blast on cluster. So it will not be backwards compatible (I will have to redo the previous runs)

* We will run with primers Ross designed for the third intron

In [18]:
!python predict_products.py third_intron_primer_sequences.fasta /cluster/db/mecoulter/genomes/genomes/180903_Barke_Unfiltered_chloro_clean_pseudomolecules_v1.fasta third_intron_primers_Barke_blast_products.tab

Working on genome 180903_Barke_Unfiltered_chloro_clean_pseudomolecules_v1
Script finished!

In [19]:
table = pd.read_csv("third_intron_primers_Barke_blast_products.tab", delimiter="\t", index_col=0)

In [20]:
table

,chromosome,Product size,Start,End,F percent id,F match length,F query length,R percent id,R match length,R query length
Primer name,,,,,,,,,,
intron_3_1,chr3H,963,36887083,36888046,100.0,23,23,100.0,23,23
intron_3_2,chr3H,834,36887223,36888057,100.0,23,23,100.0,23,23
intron_3_3,chr3H,896,36887332,36888228,100.0,23,23,100.0,23,23
intron_3_4,chr3H,956,36887068,36888024,100.0,23,23,100.0,23,23
intron_3_5,chr3H,834,36887222,36888056,100.0,23,23,100.0,23,23
intron_3_6,chr3H,973,36887081,36888054,100.0,23,23,100.0,23,23
intron_3_7,chr3H,906,36887149,36888055,100.0,23,23,100.0,23,23
intron_3_8,chr3H,889,36887331,36888220,100.0,24,24,100.0,23,23
intron_3_9,chr3H,823,36887221,36888044,100.0,23,23,100.0,23,23
intron_3_10,chr3H,892,36887147,36888039,100.0,23,23,100.0,23,23

* Run on Morex

In [21]:
!python predict_products.py third_intron_primer_sequences.fasta /cluster/db/mecoulter/genomes/genomes/Morex_pseudomolecules_v2.fasta third_intron_primers_Morex_blast_products.tab

Working on genome Morex_pseudomolecules_v2
BLAST Database error: Error: Not a valid version 4 database.
Blastn database not found. Making one...


Building a new DB, current time: 07/06/2021 12:38:05
New DB name:   /cluster/db/mecoulter/genomes/genomes/Morex_pseudomolecules_v2.fasta
New DB title:  /cluster/db/mecoulter/genomes/genomes/Morex_pseudomolecules_v2.fasta
Sequence type: Nucleotide
Deleted existing Nucleotide BLAST database named /cluster/db/mecoulter/genomes/genomes/Morex_pseudomolecules_v2.fasta
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 8 sequences in 95.0353 seconds.
Script finished!

In [22]:
table = pd.read_csv("third_intron_primers_Morex_blast_products.tab", delimiter="\t", index_col=0)

In [23]:
table

Empty DataFrame
Columns: [chromosome, Product size, Start, End, F percent id, F match length,  F query length, R percent id, R match length,  R query length]
Index: []

* No hits as expected (Morex does not have the NLR). Now try with Golden Promise (This should work)

In [24]:
!python predict_products.py third_intron_primer_sequences.fasta /cluster/db/mecoulter/genomes/genomes/Golden_Promise_pseudomolecule_v1.fasta third_intron_primers_Golden_Promise_blast_products.tab

Working on genome Golden_Promise_pseudomolecule_v1
BLAST Database error: Error: Not a valid version 4 database.
Blastn database not found. Making one...


Building a new DB, current time: 07/06/2021 12:43:19
New DB name:   /cluster/db/mecoulter/genomes/genomes/Golden_Promise_pseudomolecule_v1.fasta
New DB title:  /cluster/db/mecoulter/genomes/genomes/Golden_Promise_pseudomolecule_v1.fasta
Sequence type: Nucleotide
Deleted existing Nucleotide BLAST database named /cluster/db/mecoulter/genomes/genomes/Golden_Promise_pseudomolecule_v1.fasta
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 8 sequences in 90.1037 seconds.
Script finished!

In [25]:
table = pd.read_csv("third_intron_primers_Golden_Promise_blast_products.tab", delimiter="\t", index_col=0)

In [26]:
table

,chromosome,Product size,Start,End,F percent id,F match length,F query length,R percent id,R match length,R query length
Primer name,,,,,,,,,,
intron_3_1,chr3H,963,30345568,30346531,100.0,23,23,100.0,23,23
intron_3_2,chr3H,834,30345708,30346542,100.0,23,23,100.0,23,23
intron_3_3,chr3H,896,30345817,30346713,100.0,23,23,100.0,23,23
intron_3_4,chr3H,956,30345553,30346509,100.0,23,23,100.0,23,23
intron_3_5,chr3H,834,30345707,30346541,100.0,23,23,100.0,23,23
intron_3_6,chr3H,973,30345566,30346539,100.0,23,23,100.0,23,23
intron_3_7,chr3H,906,30345634,30346540,100.0,23,23,100.0,23,23
intron_3_8,chr3H,889,30345816,30346705,100.0,24,24,100.0,23,23
intron_3_9,chr3H,823,30345706,30346529,100.0,23,23,100.0,23,23
intron_3_10,chr3H,892,30345632,30346524,100.0,23,23,100.0,23,23

* Try with B1K (we expect a negative result)

B1K-04-12_pseudomolecules_v1.fasta

In [27]:
!python predict_products.py third_intron_primer_sequences.fasta /cluster/db/mecoulter/genomes/genomes/B1K-04-12_pseudomolecules_v1.fasta third_intron_primers_B1K_blast_products.tab

Working on genome B1K-04-12_pseudomolecules_v1
BLAST Database error: Error: Not a valid version 4 database.
Blastn database not found. Making one...


Building a new DB, current time: 07/06/2021 12:51:59
New DB name:   /cluster/db/mecoulter/genomes/genomes/B1K-04-12_pseudomolecules_v1.fasta
New DB title:  /cluster/db/mecoulter/genomes/genomes/B1K-04-12_pseudomolecules_v1.fasta
Sequence type: Nucleotide
Deleted existing Nucleotide BLAST database named /cluster/db/mecoulter/genomes/genomes/B1K-04-12_pseudomolecules_v1.fasta
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 8 sequences in 91.8752 seconds.
Script finished!

In [28]:
table = pd.read_csv("third_intron_primers_B1K_blast_products.tab", delimiter="\t", index_col=0)

In [29]:
table

Empty DataFrame
Columns: [chromosome, Product size, Start, End, F percent id, F match length,  F query length, R percent id, R match length,  R query length]
Index: []

* Conclusion: in silico predictions are as expected, intron 3 primers all good!